export rabbitmq="amqp://guest:guest@localhost:5672/"
export queue="watcher"

export height="12834098"
export chain_id="osmosis-1"
export rpc="http://35.198.127.97:26657"

# export height="16274588"
# export chain_id="shentu-2.2"
# export rpc="http://44.203.246.233:26657"

# export height="3044780"
# export chain_id="pirin-1"
# export rpc="http://193.34.212.170:19957"

# export height="15060300"
# export chain_id="sifchain-1"
# export rpc="https://sifchain-rpc.polkachu.com:443"

# export height="9561499"
# export chain_id="umee-1"
# export rpc="http://65.21.91.99:16857"

# export height="3908000"
# export height="3922211"
# export chain_id="kyve-1"
# export rpc="https://rpc-kyve.ecostake.com:443"

# export height="11445498"
# export chain_id="cronosmainnet_25-1"
# export rpc="http://15.235.53.81:26657"

# export height="3315668"
# export chain_id="uptick_117-1"
# export rpc="http://65.108.226.26:21657"

# export height="7979198"
# export chain_id="ununifi-beta-v1"
# export rpc="http://65.108.199.120:60657"

# export height="824407"
# export chain_id="sgenet-1"
# export rpc="http://142.132.202.86:16657"

# export height="371395"
# export chain_id="source-1"
# export rpc="http://101.91.119.133:26657"

# export height="13488000"
# export chain_id="pio-mainnet-1"
# export rpc="http://35.224.146.227:26657"

# export height="4906911"
# export chain_id="onomy-mainnet-1"
# export rpc="https://rpc-mainnet.onomy.io:443"

# export height="9583306"
# export chain_id="nyx"
# export rpc="http://135.125.5.29:30657"

# export height="8073514"
# export height="8080006"
# export height="234617"
# export chain_id="echelon_3000-3"
# export rpc="http://167.86.104.215:26617"

# export height="10859595"
# export chain_id="nym-3"
# export rpc="https://rpc-mainnet.nym.network:443"

# export height="8695963"
# export chain_id="beezee-1"
# export rpc="https://rpc.getbze.com:443"

# export height="3309590"
# export chain_id="bluzelle-9"
# export rpc="http://185.215.165.175:26657"

# export height="7090882"
# export chain_id="tgrade-mainnet-1"
# export rpc="http://108.181.41.195:26657"

# export height="3630291"
# export height="6591925"
# export chain_id="realionetwork_3301-1"
# export rpc="https://realio-rpc.genznodes.dev:443"


# export height="6932450"
# export chain_id="stafihub-1"
# export rpc="http://65.109.84.19:26012"
